<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercadoliebre</title>
</head>
<body>
    <header>
        <img src="/img/logo-mercado-liebre.svg" alt="Logo Mercadoliebre">
        <input type="search"> <label for="search">Buscar Productos</label>
        <h3>Comprá en cuotas y sin tarjeta de crédito</h3>
        <ul>
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
        <ul>
            <li><a href="#">Crea tu cuenta</a></li>
            <li><a href="#">Ingresa</a></li>
            <li><a href="#">Mis compras</a></li>
        </ul>
    </header>
    <main>
        <section id="Basado_en_tu_última_visita">
            <h3>Basado en tu última visita</h3>
            <img src="/img/img-cafetera-moulinex.jpg" alt="Cafetera"  width="250">
            <span>$6.770</span><br>
            <span>40% OFF</span><br>
            <span>Cafetera Moulinex</span><br>
            <img src="/img/img-macbook-pro-2019.jpg" alt="macbook"  width="250">
            <span>$230.000</span><br>
            <span>20% off</span><br>
            <span>MacBook Pro 2019</span><br>
            <img src="/img/img-samsung-galaxy-s10.jpg" alt="celular_samsung"  width="250">
            <span>$70.500</span><br>
            <span>10% off</span><br>
            <span>Samsung Galaxy S10</span><br>
            <img src="/img/img-tv-samsung-smart.jpg" alt="tv"  width="250">
            <span>$23.200</span><br>
            <span>5% off</span><br>
            <span>SmartTv Samsung 43</span><br>
        </section>
        <div>
            <img src="/img/img-home-banner.jpg" alt="" width="300">
        </div>
        <section id="Sección_de_Ofertas">
            <h3>Sección de Ofertas</h3>
            <img src="/img/img-cafetera-moulinex.jpg" alt="Cafetera"  width="250">
            <span>$6.770</span><br>
            <span>40% OFF</span><br>
            <span>Cafetera Moulinex</span><br>
            <img src="/img/img-macbook-pro-2019.jpg" alt="macbook"  width="250">
            <span>$230.000</span><br>
            <span>20% off</span><br>
            <span>MacBook Pro 2019</span><br>
            <img src="/img/img-samsung-galaxy-s10.jpg" alt="celular_samsung"  width="250">
            <span>$70.500</span><br>
            <span>10% off</span><br>
            <span>Samsung Galaxy S10</span><br>
            <img src="/img/img-tv-samsung-smart.jpg" alt="tv" width="250">
            <span>$23.200</span><br>
            <span>5% off</span><br>
            <span>SmartTv Samsung 43</span><br>
        </section>
    </main>
    <footer>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        <h3>Envío gratis desde $ 2.500</h3>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        <h3>Seguridad, de principio a fin</h3>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        <span>Copyright © 1999-2020 MercadoLiebre S.R.L.</span>
    </footer>
</body>
</html>