<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Roboto:wght@300;400&display=swap"
        rel="stylesheet">
    <title>Mercadoliebre</title>
</head>

<body>
    <header class="bg-yellow">
        <div class="nav-hedaer">
        <div class="logo ">
        <img src="/img/logo-mercado-liebre.svg" alt="Logo Mercadoliebre">
        </div>
        <div class="barra-busqueda">
            <input type="search" class="busqueda"><i class="fa-solid fa-magnifying-glass lupa"></i>
        </div>
        <h3 class="compras"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</h3>
        </div>
        <nav class="navegacion-completo">
            <ul class="texto-normal navegacion">
                <li><a href="#" class="texto-normal">Ofertas</a></li>
                <li><a href="#" class="texto-normal">Tiendas Oficiales</a></li>
                <li><a href="#" class="texto-normal">Vender</a></li>
                <li><a href="#" class="texto-normal">Ayuda</a></li>
            </ul>
            <ul class="texto-normal navegacion-2">
                <li class="texto-normal"><a href="#" class="texto-normal"><i class="fa-regular fa-id-card"></i>Crea tu
                        cuenta</a></li>
                <li><a href="#" class="texto-normal"><i class="fa-solid fa-right-to-bracket"></i>Ingresa</a></li>
                <li><a href="#" class="texto-normal"><i class="fa-solid fa-bag-shopping"></i>Mis compras</a></li>
            </ul>
        </nav>
        <div class="burguer-menu menu">
            <i class="fa-solid fa-bars burguer-menu-2"></i>
        </div></header>
        <main class="flex vw-90 m-0">
            <form action="" class="flex flex-direction align-center mt-10 vw-90 m-0">
                
                <input class="w-100 br mt-15 pd w-100 w-lg" type="text" name="name" id="name" placeholder="Nombre y apellido">

                <input class="w-100 br mt-15 pd w-lg" type="email" name="email" id="email" placeholder="Nombre de usuari@">

                <input class="w-100 br mt-15 pd w-lg" type="password" placeholder="Contraseña">

                <h3 class="mt-15 text-lg">Fecha de nacimiento</h3>
                <input class="w-100 br mt-15 pd w-lg" type="date" name="date" id="date">
                
                <input class="w-100 br mt-15 pd w-lg" type="text" name="Domicilio" id="Domicilio" placeholder="Domicilio">
                    <h3 class="mt-15 text-lg">Perfil de usuario</h3>
                    <p class="font-lg"> <input class="mr-1 " type="radio" value="comprador">Comprador</p>
                    <p class="font-lg"><input class="mr-1 " type="radio" value="vendedor">Vendedor</p>
                    <div class="flex flex-direction align-center">
                    <h3 class="mt-15 mt-10 text-lg" for="intereses">intereses</h3>
                    <div>
                    <p class="font-lg"><input class="mr-1" type="checkbox" name="">Electro</p>
                    <p class="font-lg"><input class="mr-1" type="checkbox" name="">Moda</p>
                    <p class="font-lg"><input class="mr-1" type="checkbox" name="">Hogar</p>
                    <p class="font-lg"><input class="mr-1" type="checkbox" name="">Jugueteria</p>
                    <p class="font-lg"><input class="mr-1" type="checkbox" name="">Vida Sana</p></div></div>

                    <input class="btn" type="button" value="Enviar">
                </form>
        </main>
        <footer class="foot">
            <i class="fa-regular fa-credit-card icon"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
            <i class="fa-solid fa-gift icon"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
            <i class="fa-solid fa-shield-halved icon"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
            <span>Copyright © 1999-2020 MercadoLiebre S.R.L.</span>
        </footer>
    
    </body>
